{{ 'image-banner-slider.css' | asset_url | stylesheet_tag }}

{%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before,
      #Slider-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Slider-{{ section.id }}::before,
      #Slider-{{ section.id }} .media::before {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

<div class="hero-slider-wrapper">
  <hero-slider class="swiper" data-autoplay="{{ section.settings.autoplay }}" data-delay="{{ section.settings.delay }}000">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
         <style>
           .hero-media:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
}       
      </style>
      <div class="swiper-slide">
        <div class="hero-slide-item" style="--color-text: {{ block.settings.text_color }}">
          <div class="hero-media">
            {%  assign loading = 'eager' %}
              {%  unless forloop.first %}
                {%  assign loading = 'lazy' %}
              {% endunless %}
            {% if block.settings.image != blank %}
              {{ block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: loading, sizes: '105vw', widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200' }}
              {% if block.settings.imageMob != blank %}
                {{ block.settings.imageMob | image_url: width: block.settings.imageMob.width | image_tag: loading: loading, sizes: '105vw', widths: '200,300,400,500,600,700,800' }}
              {% endif %}
            {% endif %}
          </div>
          <div class="hero-content"> 
          <div class="hero_content_inner">
          <span> {% if block.settings.show_stars %}{% render 'hero-slide-stars' %}{% endif %} {{ block.settings.review_text  }}</span>
            <h1>{{ block.settings.title |  replace: "(","<span>" |  replace: ")","</span>"  }}</h1>
            <p>{{ block.settings.desc }}</p>
          <div class="image-banner-slider-icons">
            {% if block.settings.icon_1 %}
          {% capture width %}width: {{ block.settings.image_icon_1 }}%; height: auto;{% endcapture %}
             <div class="image-banner-slider-icons-item">
            {{ block.settings.icon_1 | image_url: width: 350 | image_tag: style: width }}
               <div class="image-banner-text" style="width: {{ block.settings.image_icon_1 }}%;">
                 <p>{{ block.settings.icon_title_1 }}</p>
               </div>
                </div>
            {% endif %}
            {% if block.settings.icon_2 %}
          {% capture width %}width: {{ block.settings.image_icon_2 }}%; height: auto;{% endcapture %}
               <div class="image-banner-slider-icons-item">
            {{ block.settings.icon_2 | image_url: width: 350 | image_tag: style: width }}
               <div class="image-banner-text" style="width: {{ block.settings.image_icon_2 }}%;">
                 <p>{{ block.settings.icon_title_2 }}</p>
               </div>
               </div>
            {% endif %}
            {% if block.settings.icon_3 %}
          {% capture width %}width: {{ block.settings.image_icon_3 }}%; height: auto;{% endcapture %}
               <div class="image-banner-slider-icons-item">
            {{ block.settings.icon_3 | image_url: width: 350 | image_tag: style: width }}
               <div class="image-banner-text" style="width: {{ block.settings.image_icon_3 }}%;">
                 <p>{{ block.settings.icon_title_3 }}</p>
               </div>
               </div>
            {% endif %}
          </div>
            <div class="button button--primary slide-button" style="background-color: {{ block.settings.background_bg }}; border-color: {{ block.settings.border_color }};">
              {% if block.settings.link != blank %}
                <a href="{{ block.settings.link }}" style="color: {{ block.settings.button_text_color }};">{{ block.settings.link_text }}
               <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" stroke="{{ block.settings.button_text_color }}" stroke-width="0.5"/>
</svg>
  </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
        </div>
          {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </hero-slider>

  </div>
<style>
  .hero_content_inner>span {
    color: var(--color-text);
    font-size: 1.6rem;
    display: block;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    line-height: 1;
    gap: 1rem;
}
  .hero-media {
    position: unset;
  }
  .hero-slide-item {
    position: relative;
    padding-inline: 0;
}
  .hero_content_inner {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    width: 50%;       
}

.button:after {
 position: relative; 
}
  
.slide-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 0 3rem;
  cursor: pointer;
  font: inherit;
  font-size: 1.5rem;
  text-decoration: none;
  transition: box-shadow var(--duration-short) ease;
  -webkit-appearance: none;
  appearance: none;
}
.slide-button a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.slide-button::after {
  box-shadow: 1px 1px 1px black!important;
}
  .hero-content {
    width: 100%;
    max-width: 50%;
    padding: 0;
}
  {%  if section.settings.slide_height == 'large' %}
    .hero-media {
    height: 600px;
}
  {% elsif section.settings.slide_height == 'medium' %}
        .hero-media {
    height: 450px;
}
    {% elsif section.settings.slide_height == 'small' %}
        .hero-media {
    height: 350px;
}
  {% endif %}
  @media (max-width:768px){
  .hero_content_inner {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    width: 100%;
     max-width: 335px;
}
  .hero-media img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}
  }
</style>
{% schema %}
{
  "name": "Hero Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "delay",
      "label": "Autoplay Delay",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": "s",
      "default": 5
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "t:sections.slideshow.settings.slide_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.slideshow.settings.slide_height.label"
    },
    {
      "type": "checkbox",
      "id": "enable_min_height_mob",
      "label": "Enable min height mobile",
      "default": false
    },
    {
      "type": "range",
      "id": "min_height_mob",
      "label": "Min height mobile",
      "min": 100,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "default": 300,
      "info": "This will be only work if enable min height mobile checkbox enabled."
    }
  ],
  "blocks":[
    {
      "type":"slide",
      "name":"Slide",
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type":"image_picker",
          "id":"imageMob",
          "label":"Mobile Image"
        },
        {
          "type":"checkbox",
          "id":"show_stars",
          "label":"Show Stars",
          "default": true
        },
        {
          "type":"text",
          "id":"review_text",
          "label":"Review Text"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
          "type":"textarea",
          "id":"desc",
          "label":"Description"
        },
        {
          "type":"image_picker",
          "id":"icon_1",
          "label":"Icons image 1"
        },
        {
         "type": "range",
         "id": "image_icon_1",
         "label": "Image Width (%)",
         "default": 50,
         "min": 10,
         "max": 100,
         "step": 1
        },
        {
          "type":"text",
          "id":"icon_title_1",
          "label":"Icon Title 1"
        },
        {
          "type":"image_picker",
          "id":"icon_2",
          "label":"Icons image 2"
        },
        {
         "type": "range",
         "id": "image_icon_2",
         "label": "Image Width (%)",
         "default": 50,
         "min": 10,
         "max": 100,
         "step": 1
        },
        {
          "type":"text",
          "id":"icon_title_2",
          "label":"Icon Title 2"
        },
        {
          "type":"image_picker",
          "id":"icon_3",
          "label":"Icons image 3"
        },
        {
         "type": "range",
         "id": "image_icon_3",
         "label": "Image Width (%)",
         "default": 50,
         "min": 10,
         "max": 100,
         "step": 1
        },
        {
          "type":"text",
          "id":"icon_title_3",
          "label":"Icon Title 3"
        },
        {
          "type":"text",
          "id":"link_text",
          "label":"Link Text"
        },
        {
          "type":"url",
          "id":"link",
          "label":"Link"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Button Text color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "background_bg",
          "label": "Background color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "border_color",
          "label": "Border color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#fff"
        },
              {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.slideshow.blocks.slide.settings.image_overlay_opacity.label",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider"
    }
  ]
}
{% endschema %}
